<app-legalmain></app-legalmain>
<section class="flex justify-content-center flex-wrap line-height-3 text-lg">
  <div class="flex flex-column align-content-center justify-content-center md:w-7">
    <h1 class="my-5 ml-2 text-primary">Cookie Policy</h1>
    <p>
      Our website uses cookies to improve your browsing
      experience and to track website usage. By continuing to use our website,
      you consent to the use of cookies.
    </p>
    <h3 class="mt-3 mb-1 text-primary">What are cookies?</h3>
    <p>
      Cookies are small text files that are stored
      on your device when you visit a website. They are used to remember your
      preferences and settings, and to track website usage.
    </p>
    <h3 class="mt-3 mb-1 text-primary">What types of cookies do we use?</h3>
    <p>We use two types of cookies:</p>
    <div class="mt-2">
      <p>
        1. Essential cookies: These are necessary for the website to
        function properly and cannot be turned off. They include,
        for example, cookies that enable you to log into secure areas of the website.
      </p>
      <p>
        2. Non-essential cookies: These cookies are used to track website usage and to show you personalized content.
        You can choose to disable these cookies through your browser settings,
        but doing so may impact your ability to use certain features of the website.
      </p>
    </div>
    <h3 class="mt-3  mb-1 text-primary">How can I manage my cookie preferences?</h3>
    <p>
      You can manage your cookie preferences by adjusting your browser settings.
      Most browsers allow you to block or delete cookies,
      but doing so may impact your ability to use certain features of the website.
    </p>
    <p>
      Please note that this is just a sample cookie policy and may need
      to be modified to fit the specific needs of your business.
      It is always a good idea to consult with a lawyer to ensure
      that your cookie policy is legally compliant.
    </p>
  </div>
</section>