<app-legalmain></app-legalmain>
<section class="flex justify-content-center flex-wrap line-height-3 text-lg">
  <div class="flex flex-column align-content-center justify-content-center md:w-7">
  <h1 class="my-5 ml-2 text-primary">Refund Policy</h1>
  <div>
    <p class="p-1">All sales are final. No refunds or exchanges will be granted, except in the case of event cancellation.<p>
    <p class="p-1">
      If an event is cancelled, ticket holders will be notified and given
      the option to receive a full refund or credit towards a future event.
    <p>
    <p class="p-1">
      In the event that a ticket holder is unable to attend an event,
      they may request to transfer their ticket to another individual. The request must be made at least 48 hours
      prior to the event start time, and is subject to approval by the event organizer.
    <p>
    <p class="p-1">Refunds for events that are postponed will be handled on a case-by-case basis, in consultation with the event organizer.<p>
    <p class="p-1">The ticket seller reserves the right to refuse a refund request if it is deemed to be unreasonable or fraudulent.<p>
    <p class="p-1">If you have any questions or concerns regarding your ticket purchase, please contact us on +961 71067260<p>
  </div>
  </div>
</section>