<app-legalmain></app-legalmain>
<section class="flex justify-content-center flex-wrap line-height-3 text-lg">
  <div class="flex flex-column align-content-center justify-content-center md:w-7">
    <h1 class="pt-3">Privacy Policy</h1>
    <h3 class="text-primary pt-3">Declaration on the obligation to provide information</h3>
    <p>
      This Privacy Policy covers Orkos (“we,” “us,” “our”) policies on the collection,
      use, and disclosure of personally identifiable and other personal information
      in connection with your use or access of Orkos website.
      By checking the “I consent to the Privacy Policy” box and/or accessing the Site, and
      subject to your opt-in/opt-out preferences, you consent to the collection, use and
      disclosure practices identified in this Privacy Policy.
      The protection of your personal data is very important to us. We therefore process
      your data exclusively on the basis of the statutory provisions.
      In this data protection information we inform you about the most important aspects of data processing on our website.
      When you visit our website, your IP address and the beginning and end of the session
      are recorded for the duration of this session. This is due to technical reasons and
      therefore represents a legitimate interest.
      Unless otherwise regulated in the following, this data will not be processed by us.
    </p>
    <h3 class="text-primary">DATA PROTECTION</h3>
    <h5 class="py-2">SECTION 1 - ONLINE STORE TERMS</h5>
    <strong>Categories of Personal Information.</strong>
    <strong class="py-2">1. What Information Is Collected by Orkos And How Is It Used?</strong>
    <strong>User Account</strong>
    <p>
      Users may create an account by providing their name, email address and password.
      Registration is optional and users may access the Site as a guest at any time.
    </p>
    <strong>Purchases</strong>
    <p>When you purchase products on the Site, Orkos will collect shipment and payment information as follows:</p>
    <strong>Shipment</strong>
    <p>
      Users will be required to provide information, including names, emails (for electronic delivery)
      and addresses (for physical delivery) of products purchased on the Site. Phone numbers and email
      addresses may also be requested in the event Orkos or the common carrier needs to contact
      the purchaser or recipient to facilitate delivery of the products to the appropriate location. At your request,
      shipping information may be saved for faster checkout on future orders.
    </p>
    <strong>Payment</strong>
    <p>
      Orkos requires users to input the following payment information:
      credit or debit card information, first and last name, billing address, card expiration date, and three-digit security code.
    </p>
    <strong>Email Addresses & Contact Information</strong>
    <p>
      Users may also provide their email address and/or other contact information to Orkos
      to subscribe to its newsletters, to contact us through the Site with questions about
      our Site and Services, or to reset their password. When users make a purchase, users may also
      subscribe to Orkos's newsletters. Users can opt-out through the unsubscribe link in that newsletter or corresponding email.
    </p>
    <strong>2.  Is Information Collected By Or Disclosed To Third Parties?</strong>
    <p>
      Orkos DOES NOT AND WILL NOT SELL, RENT, OR LEASE PERSONAL INFORMATION.
      HOWEVER, PERSONAL INFORMATION IS PROCESSED BY SERVICE PROVIDERS WHO HAVE CONTRACTED WITH Orkos TO FACILITATE
      THE PROVISION OF SERVICES THROUGH THE SITE AS FOLLOWS:
    </p>
    <strong>Instagram</strong>
    <p>
      We promote the service Instagram on our website. Instagram is a service of Instagram Inc.
      By means of the integrated “Insta” button on our page, Instagram receives the information
      that you have accessed the corresponding page of our website. If you are logged into Instagram,
      Instagram may assign the visit to our site to your Instagram account and link the data by this means.
      The data transmitted by clicking the “Insta” button is stored by Instagram. You can find more information
      regarding the purpose and scope of data collection, its processing and use, as well as your related rights
      and settings options for protecting your privacy in the Instagram data protection notice under
      https://help.instagram.com/155833707900388. To prevent your visit to our site from being accessed by
      your Instagram account, you must log out of your Instagram account before visiting our site.
    </p>
    <strong>Shipping Information</strong>
    <p>
      Shipping Information: Orkos  utilizes service providers to access major shipping carriers,
      track packages and obtain shipping labels. Information may be shared with such service providers
      to process shipping requests. Shipping information will also be shared with our Product Partners to
      provide fulfilment services for all customer orders.
    </p>
    <strong>Web Hosting</strong>
    <p>
      Personal Data is stored on cloud servers maintained by Google Web Hosting. For more information on its privacy policy,
      please see Google's Privacy Policy.
    </p>
    <strong>Social Plug-Ins</strong>
    <p>
      Users may share their Orkos  experiences on social media. Users may follow and share their experiences on Instagram,
      Facebook, Twitter, LinkedIn and Pinterest, etc.. .
    </p>
    <strong>Other Potential Third Party Disclosures</strong>
    <p>
      Personal Information may be disclosed to third parties to serve our legitimate business interests as
      follows: (1) as required by law, such as to comply with a subpoena, or similar legal process, (2)
      if Orkos is involved in a merger, acquisition, or sale of all or a portion of its assets, (3)
      to investigate, prevent, or take action regarding suspected or actual illegal activities or
      to assist government enforcement agencies; (4) enforce our agreements with you, and/or (5) investigate
      and defend ourselves against any third-party claims or allegations. We will use commercially reasonable
      efforts to notify you about law enforcement or
      court ordered requests for data unless otherwise prohibited by law.
      Please see Section 5 for a more specific disclosure of the applicable categories of personal
      information collected and processed under the CCPA.
    </p>
    <strong>
      3. How Does Orkos Comply With The Children's Online Privacy Protection Act
      and Other Privacy Regulations Relating to Children?
    </strong>
    <p>
      Orkos does not knowingly collect Personal Information from anyone under the age of 18.
      If a parent or guardian becomes aware that his or her minor child as defined by applicable privacy
      laws has provided Personal Information without their consent, he or she should contact Orkos.
      Orkos will delete such Personal Information from our files within a commercially
      reasonable time, but no later than required under applicable law.
    </p>
    <strong>4. How Long Does Orkos Retain Information Collected?</strong>
    <p>
      Unless erasure is otherwise requested by a customer,
      Orkos will retain account and purchase data as
      long as it is necessary to provide services our customers.
      When a customer's account is terminated or closed upon request, Personal Data collected
      through the Site will be deleted in accordance with applicable law. Personal Information
      obtained from Site visitors will be maintained as long as it is necessary to provide requested
      communications and information-based services or until a visitor exercises the right to opt-out of
      requested communications or information-based services. Anonymised and pseudo-anonymized data will be
      retained as long as Orkos determines such data is commercially necessary for it legitimate business interests.
    </p>
  </div>
</section>