<div class="line-height-3">
  <p>Theme: {{product.infoTheme}}</p>
  <p>Date: {{product.infoDate}}</p>
  <p>Location: {{product.location}}</p>
  <p>Food: {{(product.food)? 'Available' : 'Unavailable'}}</p>
  <p>Drinks: {{(product.drinks)? 'Available' : 'Unavailable'}}</p>
  <p>Parking: {{(product.parking)? 'Available' : 'Unavailable'}}</p>
      <!-- <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" label="Ok" styleClass="p-button-text"></p-button>
      </ng-template> -->
</div>