<section class="flex flex-row top-bar surface-0 opacity-90">
  <div>
    <p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="5">
      <div>
        <div class="flex flex-row">
          <img src="../assets/images/home/OrkosLogo.png" alt="Logo" class="w-3">
          <a class="flex align-self-center text-5xl ml-3 font-bold text-900" [routerLink]="['/']" style="text-decoration: none;"> Orkos</a>
        </div>
        <div class="flex flex-column mt-4">
            <button pButton pRipple  class="p-button-text text-xl" [routerLink]="['/']">
              <i class="pi pi-home flex align-self-center"></i>
              <p class="pl-3 text-900">Home</p>
            </button>
            <button pButton pRipple class="p-button-text text-xl" [routerLink]="['/files-upload']">
              <i class="pi pi-upload flex align-self-center"></i>
              <p class="pl-3 text-900">File Upload</p>
            </button>
        </div>
      </div>
    </p-sidebar>
    <button pButton pRipple type="button" class="p-button-raised p-button-text p-button-rounded mt-2" (click)="visibleSidebar = true" icon="pi pi-bars"></button>
  </div>

  <div class="flex justify-content-between w-12 ml-2 m-2">
    <div class="w-5">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" class="w-22rem" (click)="op.toggle($event)" [formControl]="searchControl" (input)="filterResults()"  pInputText placeholder="Search For Events, artists, locations..." style="border-radius: 2rem; background-color: transparent;" />
      </span>
      <p-overlayPanel #op [baseZIndex]="15">
        <ng-template pTemplate>
          <div *ngIf="searchTerm" class="w-30rem">
            <!-- product-item  -->
            <div *ngFor="let product of filterResults()" class="flex flex-row justify-content-between mb-2" >
              <div class="flex flex-row ">
                <div>
                  <!-- class="image-container" -->
                  <img src="assets/images/home/{{product.image}}" [alt]="product.name" class="max-h-4rem max-w-3rem"/>
                  <!-- product-image -->
                </div>
                <div class="flex flex-column pl-2">
                  <!-- product-list-detail -->
                  <h3 class="mb-2">{{product.name}}</h3>
                  <div>
                    <i class="pi pi-tag"></i>
                    <!-- product-category-icon -->
                    <span class="pl-1">Category</span>
                    <!-- class="product-category" -->
                  </div>
                </div>
              </div>
              <div class="flex flex-column">
                <!-- product-list-action -->
                <p class="mb-2 text-right font-bold">${{product.price}}</p>
                <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()" class="px-1">{{product.inventoryStatus}}</span>
              </div>
            </div>
          </div>
        </ng-template>
      </p-overlayPanel>
    </div>


    <div>
      <button pButton pRipple  type="button" label="Sign up" [routerLink]="['/signup']" class="p-button-raised p-button-text p-button-rounded p-button-secondary mx-1"></button>
      <button pButton pRipple  type="button" label="Log in" [routerLink]="['/login']" class="p-button-raised p-button-text p-button-rounded mx-1"></button>
    </div>

  </div>

</section>

