<section class="flex flex-row top-bar surface-0 opacity-90">


  <button pButton pRipple type="button" class="p-button-raised p-button-text p-button-rounded my-5 my-5 ml-5" (click)="visibleSidebar = true" icon="pi pi-bars"></button>


  <div class="flex justify-content-between w-full m-2 mr-5" [formGroup]="searchFormGroup">
    <div class="flex flex-row mt-3 ml-5">
      <img src="../assets/images/home/OrkosLogo.png" alt="Logo" class="w-5 h-3rem logo-show">
      <a class="text-5xl ml-3 font-bold text-900 logo-show" [routerLink]="['/']" style="text-decoration: none;"> Orkos</a>
    </div>
    <div class="w-5 mt-4">
      <span class="p-input-icon-left w-9">
        <i class="pi pi-search w-1"></i>
        <input type="text" class="lg:w-12" (click)="op.toggle($event)" [formControlName]="'search'" pInputText placeholder="Search For Events, artists, locations..." style="border-radius: 2rem; background-color: transparent;" />
      </span>
      <p-overlayPanel #op [baseZIndex]="15">
        <ng-template pTemplate>
          <div *ngIf="this.searchFormGroup.get('search')?.value" class="w-30rem">
            <!-- product-item  -->
            <div *ngFor="let product of filteredEvents" class="flex flex-row justify-content-between mb-2" >
              <button pButton pRipple type="button" style="width: 100%;"  class="p-button-text">
                <div class="flex flex-row" style="width: 100%;" >
                  <div>
                    <!-- class="image-container" -->
                    <img src="assets/images/home/{{product.image}}" [alt]="product.name" class="max-h-4rem max-w-3rem"/>
                    <!-- product-image -->
                  </div>
                  <div class="flex flex-column">
                    <!-- product-list-detail -->
                    <h3 class="mb-2 pl-2" style="color: white;">{{product.name}}</h3>
                    <div>
                      <i class="pi pi-tag"></i>
                      <!-- product-category-icon -->
                      <span class="pl-1">Category</span>
                      <!-- class="product-category" -->
                    </div>
                  </div>
                </div>
                <div class="flex flex-column">
                  <!-- product-list-action -->
                  <p class="mb-2 text-right font-bold" style="color: white;">${{product.price}}</p>
                  <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()" class="px-1">{{product.inventoryStatus}}</span>
                </div>
              </button>
            </div>
          </div>
        </ng-template>
      </p-overlayPanel>
    </div>


    <div class="mt-4">
      <button pButton pRipple type="button" label="Sign up" [routerLink]="['/auth/sign-up']" class="p-button-raised p-button-text p-button-rounded p-button-secondary mx-1"></button>
      <button pButton pRipple type="button" label="Log in" [routerLink]="['/auth/sign-in']" class="p-button-raised p-button-text p-button-rounded mx-1" style="background-color: #0c2a59; color: white;"></button>
    </div>

  </div>

</section>

<div>
  <p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="5">
    <div class="height-fix">
      <div class="flex flex-row">
        <img src="../assets/images/home/OrkosLogo.png" alt="Logo" class="w-3">
        <a class="flex align-self-center text-5xl ml-3 font-bold text-900" [routerLink]="['/']" style="text-decoration: none;"> Orkos</a>
      </div>
      <div class="flex flex-column mt-4">
          <button pButton pRipple  class="p-button-text text-xl" (click)="closeSidebar()" [routerLink]="['/']">
            <i class="pi pi-home flex align-self-center"></i>
            <p class="pl-3 text-900">Home</p>
          </button>
          <button pButton pRipple class="p-button-text text-xl" (click)="closeSidebar()" *ngIf="(authFacade.selectAuthUser$ | async)?.isEventOrganiser" [routerLink]="['/files-upload']">
            <i class="pi pi-upload flex align-self-center"></i>
            <p class="pl-3 text-900">File Upload</p>
          </button>
      </div>
    </div>
    <button pButton pRipple class="p-button-text" (click)="closeSidebar()" [routerLink]="['/TermServ']">LEGAL</button>
  </p-sidebar>
</div>