:host {
  ::ng-deep {
    .top-bar-view{
      position: sticky;
      top: 0;
      z-index: 10;
      width: 100%;
    }
    .low-bar-view{
      position: fixed;
      bottom: 0;
      z-index: 10;
      width: 100%;
    }
  }
}
// Affecting my side bar for some reason????


@media only screen and (max-width: 600px) {
  /* Hide the sign up and log in buttons on mobile view */
  .desk-view{
    display: none;
  }
  .mobile-view{
    display: block;
  }
}

@media only screen and (min-width: 601px) {
  /* Show the sign up and log in buttons on desktop view */


  /* Hide the search button on desktop view */
  .desk-view{
    display: block;
  }
  .mobile-view{
    display: none;
  }
}
