:host {
  ::ng-deep {
    .top-bar-view{
      position: sticky;
      top: 0;
      z-index: 10;
      width: 100%;
    }
    .low-bar-view{
      position: fixed;
      bottom: 0;
      z-index: 10;
      width: 100%;
    }
  }
}

.desk-view {
  display: none;

  @media only screen and (min-width: 600px) {
    display: block;
  }
}

.mobile-view {
  display: block;

  @media only screen and (min-width: 600px) {
    display: none;
  }
}

.adding-bottom-space{
  margin-bottom: 50px;

  @media only screen and (min-width: 600px){
    margin-bottom: 0px;
  }
}
