<section class="flex flex-column md:flex-row  justify-content-evenly">
  <form [formGroup]="eventForm" class="text-center">
    <!-- (ngSubmit)="submit()"  to be filled later -->
    <h1 class="text-center mb-4">File Uploads</h1>
    <p-fileUpload name="myFile" accept="image/*" mode="basic" (onSelect)="onSelect($event)" chooseLabel="Upload Image"></p-fileUpload>
    <span class="p-float-label mt-4">
      <input id="float-input" type="text" pInputText formControlName="name">
      <label for="float-input">Event Name</label>
    </span>
    <span class="p-float-label mt-4">
      <input id="float-input" type="text" pInputText formControlName="price">
      <label for="float-input">Price</label>
    </span>
    <span class="p-float-label mt-4">
      <input id="float-input" type="text" pInputText formControlName="ticketAmount">
      <label for="float-input">Ticket Amount</label>
    </span>
    <span class="p-float-label mt-4">
      <input id="float-input" type="text" pInputText formControlName="location">
      <label for="float-input">Location</label>
    </span>
  </form>
  <!-- <div class="flex flex-column">
    <h1>Preview</h1>
    <p>{{eventForm.get('name')?.value}}</p>
    <p>{{eventForm.get('price')?.value}}</p>
    <p>{{eventForm.get('ticketAmount')?.value}}</p>
    <p>{{eventForm.get('location')?.value}}</p>
    <img [src]="{{  }}" alt="image preview" />
  </div> -->
  <p-carousel class="mt-2 md:mt-0" [value]="events" [numVisible]="1" [numScroll]="1" [circular]="true" [showIndicators]="true" [responsiveOptions]="responsiveOptions" >
    <ng-template let-product pTemplate="item">
      <h1 class="mb-3 md:mb-6 text-center">Preview</h1>
      <div class="product-item">
          <div class="product-item-content">
              <div class="main-container mb-3">
                  <img [src]="eventForm.get('imageUrl')?.value" class="product-image"/>
              </div>
              <div>
                  <h4 class="mb-1">{{product.name}}</h4>
                  <h4 class="mt-0 mb-3">${{product.price}}</h4>
                  <span>Tickets: {{eventForm.get('ticketAmount')?.value}}</span>
                  <div class="product-description flex flex-row justify-content-center">
                    <i class="pi pi-map-marker"></i>
                    {{product.location}}
                  </div>
              </div>
          </div>
      </div>
    </ng-template>
  </p-carousel>
</section>