<section class="flex flex-column md:flex-row justify-content-evenly mt-0 md:mt-6">
  <p-card>
    <form [formGroup]="eventForm" class="flex justify-content-center flex-column align-content-center align-items-center m-4">
      <!-- ################################## (ngSubmit)="submit()"  to be filled later -->
      <h1 class="text-center mb-4">File Uploads</h1>
      <p-fileUpload name="myFile" accept="image/*" mode="basic" (onSelect)="onSelect($event)" chooseLabel="Upload Image"></p-fileUpload>
      <span class="p-float-label mt-4">
        <input id="float-input" type="text" pInputText formControlName="name">
        <label for="float-input">Event Name</label>
      </span>
      <span class="p-float-label mt-4">
        <input id="float-input" type="text" pInputText formControlName="price">
        <label for="float-input">Price</label>
      </span>
      <p-dropdown [options]="tickets" formControlName="inventoryStatus" placeholder="Ticket availability" class="mt-4 max-w-14rem" optionLabel="name" optionValue="name"[showClear]="true"></p-dropdown>
      <span class="p-float-label mt-4">
        <input id="float-input" type="text" pInputText formControlName="location">
        <label for="float-input">Location</label>
      </span>
      <div class="more-buttons mt-2">
        <button pButton pRipple type="button" icon="pi pi-info" class="p-button-rounded p-button-warning p-button-raised p-button-text" (click)="showModalFill()"></button>
      </div>
    </form>
  </p-card>


  <p-carousel class="mt-4 md:mt-0" [value]="events" [numVisible]="1" [numScroll]="1" [circular]="true" [showIndicators]="true">
    <ng-template let-product pTemplate="item">
      <h1 class="mb-3 md:mb-6 text-center">Preview</h1>
      <div class="product-item">
          <div class="product-item-content">
              <div class="main-container mb-3">
                  <img [src]="eventForm.get('imageUrl')?.value" class="product-image"/>
              </div>
              <div>
                  <h4 class="mb-1">{{product.name}}</h4>
                  <h4 class="mt-0 mb-3">${{product.price}}</h4>
                  <span [class]="eventForm.get('inventoryStatus')?.value.toLowerCase()" class="p-1">Tickets: {{product.inventoryStatus}}</span>
                  <div class="product-description flex flex-row justify-content-center">
                    <i class="pi pi-map-marker"></i>
                    {{product.location}}
                  </div>
                  <div class="more-buttons mt-2">
                    <button pButton pRipple type="button" icon="pi pi-shopping-cart" class="p-button-raised p-button-text p-button-rounded mr-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-star-fill" class="p-button-rounded p-button-success p-button-raised p-button-text mr-2" ></button>
                    <button pButton pRipple type="button" icon="pi pi-info" class="p-button-rounded p-button-warning p-button-raised p-button-text" (click)="showModalPreview()"></button>
                  </div>
              </div>
          </div>
      </div>
    </ng-template>
  </p-carousel>
</section>

<div class="flex justify-content-center">
  <button pButton pRipple type="button" label="Post" (click)="postEvents()" class="p-button-raised"></button>
</div>


<div>
  <p-dialog header="Extra Information" [(visible)]="displayModalFill" [modal]="true"[draggable]="false" [resizable]="false">
  <form [formGroup]="eventForm" class="flex flex-column">
  <span class="p-float-label mt-4 mx-1">
    <input pInputText formControlName="infoTheme" tooltipPosition="right" pTooltip="Any specific theme? if not then write 'Casual'."/>
    <label for="dropdown">Theme</label>
  </span>
  <span class="p-float-label mt-4 mx-1">
    <p-inputMask mask="99/99/9999" formControlName="infoDate" placeholder="99/99/9999" slotChar="dd/mm/yyyy" tooltipPosition="right" pTooltip="The date and time of the Event."></p-inputMask>
    <label class="block">Date & Time</label>
  </span>
  <!-- <span class="p-float-label mt-4 mx-1">
    <input pInputText formControlName="infoTheme"/>
    <label class="block">Location</label>
  </span> -->
  <!-- ########## Was thinking of letting them add a google map link and linking it, not sure yet -->
  <p-checkbox class="mt-3 mx-1" [binary]="true" label="Food" formControlName="food" tooltipPosition="right" pTooltip="Food Available?"></p-checkbox>
  <p-checkbox class="mt-2 mx-1" [binary]="true" label="Drinks" formControlName="drinks" tooltipPosition="right" pTooltip="Drinks Available?"></p-checkbox>
  <p-checkbox class="mt-2 mx-1" [binary]="true" label="Parking" formControlName="parking" tooltipPosition="right" pTooltip="Parking Available?"></p-checkbox>
  </form>
  <ng-template pTemplate="footer">
  <p-button icon="pi pi-check" (click)="displayModalFill=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
  </p-dialog>
</div>

<div>
  <p-dialog header="Information" class="line-height-4" [(visible)]="displayModalPrev" [modal]="true" [draggable]="false" [resizable]="false">
  <p>Theme: {{eventForm.get('infoTheme')?.value}}</p>
  <p>Date: {{eventForm.get('infoDate')?.value}}</p>
  <p>Location: {{eventForm.get('location')?.value}}</p>
  <p>Food: {{(eventForm.get('food')?.value)? 'Available' : 'Unavailable'}}</p>
  <p>Drinks: {{(eventForm.get('drinks')?.value)? 'Available' : 'Unavailable'}}</p>
  <p>Parking: {{(eventForm.get('parking')?.value)? 'Available' : 'Unavailable'}}</p>
  <ng-template pTemplate="footer">
  <p-button icon="pi pi-check" (click)="displayModalPrev=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
  </p-dialog>
</div>
