<section class="text-center">
  <span class="p-input-icon-left w-10 mt-2">
    <i class="pi pi-search"></i>
    <input type="text" style="border-radius: 2rem; background-color: transparent;" class="w-full"  pInputText placeholder="Search For Events, artists, locations..."/>
  </span>
  <div class="flex justify-content-evenly flex-wrap mt-1">
    <button pButton pRipple type="button" label="Bars" class="p-button-outlined m-2 w-5"></button>
    <img src="assets/images/custom/flyer1.png" class="m-2 w-5">
    <img src="assets/images/custom/flyer2.png" class="m-2 w-5">
    <img src="assets/images/custom/flyer3.png" class="m-2 w-5">
    <img src="assets/images/custom/flyer4.png" class="w-5 m-2">
    <img src="assets/images/custom/flyer5.png" class="w-5 m-2">
    <img src="assets/images/custom/flyer6.png" class="w-5 m-2">
  </div>


</section>