.product-item {
  .product-item-content {
      border: 1px solid var(--surface-d);
      border-radius: 3px;
      margin: .3rem;
      text-align: center;
      padding: 2rem 0;
  }

  .product-image {
      width: 10rem; max-height: 10rem; object-fit: cover;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .product-description {
      font-size: 0.8rem;
      font-weight: 500;
      margin: 1rem 0;
  }
}

.product-badge {
  border-radius: 2px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .3px;
  padding: .25em .5rem;
  text-transform: uppercase;
}

.product-badge.status-limited {
  background: #FEEDAF;
  color: #8a5340;
}

.product-badge.status-available {
  background: #C8E6C9;
  color: #256029;
}

.product-badge.status-unavailable {
  background: #FFCDD2;
  color: #c63737;
}