<p-card class="flex align-content-center justify-content-center flex-wrap  flex-column h-screen m-3">
  <h1 class="text-4xl ">Reset your Password</h1>
  <p class="text-sm text-white-alpha-40 text-center mt-2">We will send you an email to reset your password.</p>
  <span class="p-float-label my-5">
    <input id="float-input" type="text" pInputText class="w-full">
    <label for="float-input">Email</label>
  </span>
  <div class="flex flex-column align-items-center mt-3">
    <button pButton pRipple class="text-center p-button-raised p-button-text" type="button" label="SUBMIT"></button>
    <a class="text-900 text-center mt-3" [routerLink]="['/login']" style="text-decoration: none;">Cancel</a>
  </div>

</p-card>