<section class="flex justify-content-between m-0 md:m-2">
  <div>
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" style="border-radius: 2rem;" pInputText placeholder="Search For Events, artists, locations..."/>
    </span>
  </div>

  <div class="">
    <button pButton type="button" label="Sign up" class="p-button-outlined p-button-rounded p-button-secondary m-1"></button>
    <button pButton type="button" label="Log in" class="p-button-outlined p-button-rounded m-1"></button>
  </div>
</section>
